body {
  text-align: center
}
#searchBox {
  margin-top: 100px;
  width: 50%;
  margin-left: 25%;
  height: 50px;
  border-radius: 0px;
  box-shadow: none;
  box-shadow: 1px 1px 10px 2px #ccc;

}
#results {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 100px;
}
#result-box {
  margin-top: 25px;
  margin-right: 25px;
  padding: 25px;
  box-shadow: 1px 1px 10px 1px #ccc;
  display: inline-block;
  width: 250px;
  height: 250px;
}
#result-box > img {
  width: 150px;
  height: 150px;
}
#result-box > h2 {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
